.App {
  text-align: center;
}

.WeatherIcon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.TemperatureContainer {
  width: 80%;
  margin: auto;
  padding: 10px;
}

.TemperatureHigh {
  color: black;
  width: 50%;
  float: left;
  text-align: center;
}

.TemperatureLow {
  color: grey;
  margin-left: 50%;
  text-align: center;
}

.WeatherCard {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: gray;
  width: 200px;
  height: 200px;
}

.Day {
  text-align: center
}